main {
	margin-bottom: 180px;
	/* Altura del footer */
}

.title {
	color: white;
}

.row {
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: azure;
}

#row-promos img {
	width: 300px;
	border-radius: 50%;
}

#row-services img {
	width: 300px;
	border-radius: 50%;
}

.btn {
	background-color: black;
	color: white;
	margin-top: 20px;
}

.btn:hover {
	background-color: #6c757d;
	color: #fff;
}

a:hover {
	color: #43a4f8 !important;
}

.card-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
	gap: 1rem;
	justify-content: center;
}

.product-card {
	width: 20rem;
}

.card-image {
	width: 15rem;
	height: 15rem;
}

@media (max-width: 576px) {
	footer {
		position: static !important;
	}
}